
.blockJs, .inlineJs {
    display: none;
}

.jsenabled .inlineJs {
    display: inline;
}

.jsenabled .blockJs {
    display: block;
}



/*** svg icons ***/
svg:not(:root) {
    overflow: hidden;
}
.svg-icon {
    height: 1em;
    width: 1em;
}


.collapse-icon {
    fill: none;
    stroke: #333;
    cursor: pointer;
}


/***********/


#page-local-joulegrader-view .indent {
    border-bottom:1px solid #ccc;
}

#page-local-joulegrader-view .forumimproved-post-pubdate:after {
    content: attr(title);
    padding-left: 1em;
}

#local-joulegrader .content .mod-forumimproved-posts-container,
#local-joulegrader .content .mod-forumimproved-posts-container .content {
    text-align: left;
    margin-right: 0;
    overflow: hidden;
}
#local-joulegrader .content .mod-forumimproved-posts-container {
    margin: 0 4%;
}

/* export page print styles */
#page-mod-forumimproved-route.pagelayout-embedded a[aria-pressed="false"]{
    display:none;
}


.forumimproved_postincontext_dialog .yui3-widget-hd { cursor: move; }

/* Activity instance has a height set to 2em. This is madness, and we need to reset it or it causes lots of issues. */
.activity.modtype_forumimproved .activityinstance {
    height:auto !important;
}


.path-mod-forumimproved #gradetype_warning.hidden { display: none; }
.path-mod-forumimproved #gradetype_warning { color: #660000; padding-left: 5px; }



/* Hide things in the main view */
.forumimproved-thread .forumimproved-footer-reply,
.forumimproved-thread .forumimproved-thread-body,
.forumimproved-thread .forumimproved-thread-content,
.forumimproved-thread .forumimproved-replycount-link,
.forumimproved-reply-wrapper + header {
    display: none;
}
/* Show things if thread is expaned or on single discussion page */
#page-mod-forumimproved-discuss .forumimproved-thread-body,
#page-mod-forumimproved-discuss .forumimproved-thread-content,
.forumimproved-thread-article-expanded .forumimproved-thread-body,
.forumtype-blog .forumimproved-thread-body,
.forumtype-blog .forumimproved-thread-content,
.forumtype-blog .forumimproved-replycount-link{
    display: block;
}

.forumtype-blog .forumimproved-replycount,
.forumtype-blog .forumimproved-unreadcount,
.forumtype-blog .forumimproved-thread-title + .forumimproved-thread-flags {
    display: none;
}

.forumtype-blog  .forumimproved-thread-title,
.forumtype-blog  .forumimproved-thread-flags {
    clear:both;
    display:block;
    width:100%;
    float:none;
    text-align: left;
}

/* Hide form. Will be shown with JS */
.forumimproved-footer-reply {
    display: none;
}

/* Hidden advanced editor */
.path-mod-forumimproved #hiddenadvancededitorcont div {
    display:none;
}

/* Hide post itself when doing inline editing */
.forumimproved-thread-edit .forumimproved-thread-header,
.forumimproved-thread-edit .forumimproved-thread-tools,
.forumimproved-thread-edit .forumimproved-thread-content,
.forumimproved-post-edit > .forumimproved-post-figure,
.forumimproved-post-edit > .forumimproved-post-body,
.forumimproved-post-edit > .userpicture,
.forumimproved-post-edit .forumimproved-thread-flags {
    display: none;
}

#page-mod-forumimproved-view #intro.generalbox {
    border:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}



/* -------------------------
*ACC FORUM VIEW
-------------------------*/

/* borderbox reset */
.mod-forumimproved-posts-container.article *,
.mod-forumimproved-posts-container.article *:before,
.mod-forumimproved-posts-container.article *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* consistent padding */
.forumimproved-thread-figure,
.forumimproved-thread-content,
.forumimproved-thread-tools,
.forumimproved-post-figure {
    padding:0.33em 2.36%;
}

/* bold text to be bold */
#page-mod-forumimproved-discuss strong,
#page-mod-forumimproved-view strong {
    font-weight:700;
}

/* header issue in express */
.forumimproved-thread-title h4{
    text-align:left;
}

/* header issue in express */
.forumimproved-thread-title h4 .label {
    font-size: .9em;
    line-height: 1.1em;
}


/* all imgs responsive */
.forumimproved-thread img {
    max-width:100%;
    height:auto;
}


.forumimproved-thread-article,
.forumimproved-reply {
    padding:0.5em 2.36%;
}
.forumimproved-post-content .posting{
    padding:1em 0;
}
.forumimproved-post-content-hidden {
    padding:1em 2.36%;
}

#page-mod-forumimproved-search #searchform {
    max-width: 35em;
}

#page-mod-forumimproved-search #searchform label {
    display: block;
}
#page-mod-forumimproved-search .forumimproved-post:before {
    display:none;
}

/* FORUM HEADER */
.forumimproved-search .helptooltip {
    display: none;
}

#page-mod-forumimproved-search .forumimproved-search #searchforums {
    left: 0;
    position: relative;
}

#page-mod-forumimproved-view #selectgroup label {
    display:none;
}
#newdiscussionform div,
#newdiscussionform input[type=submit]{
    margin-left:0;
}

/* THREAD AND POSTS */
.forumimproved-thread {
    border-bottom:1px solid #ddd;
    word-wrap: break-word;
    -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

#page-mod-forumimproved-discuss .forumimproved-thread{
    border-color:transparent;
}
#page-mod-forumimproved-discuss .forumimproved-thread-author,
#page-mod-forumimproved-discuss .forumimproved-thread-header {
    width:100%;
    padding:0.33em 2.34%;
}



/* THREAD AND POST TITLES */


.forumimproved-thread-title >h4 {
    margin:0;
    padding-right:2.34%;
}

#page-mod-forumimproved-view:not(.forumtype-blog) .forumimproved-thread-title > h4{
    font-size:1.3em;
}

.forumimproved-post-byline{
    font-size:1em;
    font-weight:normal;
    line-height:1.5;
    font-family:'Roboto','Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom:0;
}

.forumimproved-post-title{
    font-size:0.85em;
    font-style:oblique;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity:0.3;
}
.forumimproved-post:hover .forumimproved-post-title{
    opacity:0.85;
}
.forumimproved-thread-content {
    clear:both;
}


.forumimproved-thread-flags {
    text-align:right;
}

.forumimproved-thread-replies-list {
    list-style:none;
    margin:0;
}
.forumimproved-replycount{
    font-size:small;
}

.topic-header .stateChanger + h3,
.forumimproved-threads-wrapper .forumimproved-thread .stateChanger + h4 {
    margin: 0;
    margin-left: .5em;
    line-height: 1em;
}
.topic-header h3 {
    margin: 0;
}


.stateChanger button, .stateChanger input.form-submit, .stateChanger input[type="button"], .stateChanger input[type="submit"], .stateChanger input[type="reset"] {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}






.stateChanger [type="submit"] {
    margin-left: 1em;
    height: 24px;
}

.topic-header .stateChanger + h3,
.forumimproved-threads-wrapper .forumimproved-thread .stateChanger + h4 {
    margin-left: .5em;
    margin-top: 0;
}

.selectContainer,
.stateChanger [type="submit"],
.stateChanger,
.topic-header .stateChanger + h3,
.forumimproved-threads-wrapper .forumimproved-thread .stateChanger + h4 {
    float: left;
}

.clearfixLeft:after {
    /* clearfix */
    visibility: hidden;
    display: block;
    content: " ";
    height: 0;
    font-size: 0;
    clear: left;
}

.stateChanger .select {
    -js-display: flex;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 24px;
}

.stateChanger .select .option {
    padding: 0 10px;
    min-height: 24px;
    -js-display: flex;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .1s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.stateChanger .select .option .icon {
    margin: auto;
}

.stateChanger .select:focus .option {
    position: relative;
    pointer-events: all;
}

.stateChanger .select input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.stateChanger .select:focus .option {
    border-top: solid 1px;
}

.stateChanger .select label .svg-icon {
    margin: auto;
}

.stateChanger .select input:checked + label {
    padding-right: 30px;
    order: 1;
    z-index: 2;
    border-top: none;
    position: relative;
}

.stateChanger .select input:checked + label:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
    opacity: .6;
    transition: opacity .1s;
}
.stateChanger .select:hover input:checked + label:after,
.stateChanger .select:focus input:checked + label:after {
    opacity: 1;
}
.stateChanger .select .tooltip {
    width: 100px;
}



.stateChanger .select .option {
    background: #DADFE1;
}

.stateChanger .select .option:hover,
.stateChanger .select input:checked + label {
    background: #BDC3C7;
}

.stateChanger .select:focus .option {
    border-top-color: #F2F1EF;
}

.stateChanger .select input:checked + label:after {
    border-top-color: #222;
}











/* POST LIST STYLES */
.forumimproved-post{
    position:relative;
    clear:both;
}


.forumimproved-parent-post-link {
    border-radius: 50%;
    background-color: orange;
    display: inline-block;
    width: 1.5em;
    height:1.5em;
    margin-right:2%;
    text-align:center;
    color: white !important;
}

/* user image secions */
.forumimproved-thread-author,
.forumimproved-post-figure{
    text-align:center;
}
.forumimproved-thread-author .userpicture,
.forumimproved-post-figure .userpicture{
    width:75px;
    max-width:100%;
    height:auto;
    border-radius:50%;
    margin:0 auto;
    display:block;
}
.forumimproved-post-byline .userpicture{
    display: inline-block;
    width: 32px;
    max-width: 32px;
    height: auto;
    margin:0.3em 1.18%;
    border-radius:50%;
    vertical-align: middle;
}


.forumimproved-post-target .userpicture{
    float: left;
    width: 100px;
}

.forumimproved-post-target p {
    margin: 10px 0;
}







.forumimproved-post-wrapper {
    padding: 1em 1em 0;
    border: 1px solid rgb(239, 239, 239);
    background: rgba(239, 239, 239, 0);

    -webkit-transition: background .3s;
       -moz-transition: background .3s;
         -o-transition: background .3s;
            transition: background .3s;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.forumimproved-post-wrapper:hover {
    background:  rgb(239, 239, 239);
    background:  rgba(239, 239, 239, 1);
}

.forumimproved-thread-replies .forumimproved-post-wrapper {
    margin: 1em 0 0;
}

.forumimproved-post-wrapper .forumimproved-thread-flags {
    margin-top: 0;
}

.forumimproved-post-target .forumimproved-post-body {
    margin-left: 120px;
}

.forumimproved-form.forumimproved-reply,
.forumimproved-thread-replies {
    margin-top: 1em;
    border-top: 1px solid #bbb;
}

.forumimproved-post .forumimproved-thread-replies-list .forumimproved-post .forumimproved-post-wrapper {
    margin-top: -1px;
}

.forumimproved-post-body .forumimproved-post-time {
    font-size: .8em;
}

.userpicture {
    border-radius: 100%;
}



.forumimproved-nouserpicture .userpicture {
    display: none;
}
.forumimproved-nouserpicture .forumimproved-post-body {
    margin-left: 0;
}
.forumimproved-nouserpicture .forumimproved-form .forumimproved-post-figure {
    display: none;
}
.forumimproved-nouserpicture .forumimproved-form .forumimproved-post-body {
    width: 100%;
}




.forumimproved-tools a {
    -webkit-transition: border-bottom .15s, padding-bottom .15s;
       -moz-transition: border-bottom .15s, padding-bottom .15s;
         -o-transition: border-bottom .15s, padding-bottom .15s;
            transition: border-bottom .15s, padding-bottom .15s;


    padding: 0 .5em 5px;
    border-bottom: 0 solid tomato;

    /* inline-block everywhere : https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.forumimproved-tools a.active {
    border-bottom-width: 5px;
    padding-bottom: 0px;
    color: tomato;
    text-decoration: none;
}





/* unread posts flag */
.forumimproved-unreadcount {
    background-color: #FFA500;
    color: #FFF !important;
    display:inline-block;
    text-align:center;
    padding:0 2.36%;
    margin:0.3em 1.18%;
    font-size:small;
    line-height:2;
    border-radius:3px;
}
.forumimproved-post .forumimproved-unreadcount {
    display:inline-block;

}

.post-word-count{
    font-size:small;
    text-align:right;
    font-style:oblique;
}


.forumimproved-thread-content .attachments {
    margin-top: 1em;
}

.forumimproved-tools {
    font-family:'Roboto','Open sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:normal;
    clear: both;
    float: left;
    padding-top: 1em;
}
.forumimproved-post-body .forumimproved-count-replies {
    float: right;
    margin: 0px;
    padding-top: 1em;
}
.forumimproved-tools .forumimproved-reply-link {
    margin-left:0;
}



/* ------------------------

------------------------ */
.forumimproved-threads-wrapper .forumimproved-thread-meta {
    float: right;
    text-align: right;
    margin-top: 10px;
}



/* -------------------------
ACTIONS
-------------------------*/
.forumimproved-toggle {
    display:inline-block;
    border-radius:0;
    padding:0 0.2em;
    color:white !important;
    font-family:"Roboto",'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.forumimproved-toggle .svg-icon {
    stroke: #505050;
    stroke-width: 5px;
    fill: #505050;
    fill-opacity: 0;

    transition: .2s;

    width: 1.3em;
    height: 1.3em;
    display:inline-block;
}

.forumimproved-toggle:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    background-color:#eee;
}

.forumimproved-toggle-subscribe.forumimproved-toggled .svg-icon,
.forumimproved-toggle-subscribe:hover .svg-icon{
    fill:#ffac0d;
    fill-opacity: 1;
    stroke-opacity: 0;
}

.forumimproved-toggle-substantive.forumimproved-toggled .svg-icon,
.forumimproved-toggle-substantive:hover .svg-icon{
    fill:#5fa9dd;
    fill-opacity: 1;
    stroke-opacity: 0;
}
.forumimproved-toggle-bookmark.forumimproved-toggled .svg-icon,
.forumimproved-toggle-bookmark:hover .svg-icon{
    fill:#f05454;
    fill-opacity: 1;
    stroke-opacity: 0;
}

.forumimproved-thread.topic-hidden .forumimproved-reply-link,
.forumimproved-thread.topic-hidden .forumimproved-form.forumimproved-reply,
.forumimproved-thread.topic-hidden .forumimproved-vote-link,
.forumimproved-thread.topic-hidden .forumimproved-edit-link,
.forumimproved-thread.topic-hidden .forumimproved-delete-link,
.forumimproved-thread.topic-hidden .forumimproved-prune-link,
.forumimproved-thread.topic-hidden .forumimproved-form.forumimproved-edit button[type="submit"],
.forumimproved-thread.topic-hidden .forumimproved-use-advanced,

.forumimproved-thread.topic-closed .forumimproved-reply-link,
.forumimproved-thread.topic-closed .forumimproved-form.forumimproved-reply,
.forumimproved-thread.topic-closed .forumimproved-vote-link,
.forumimproved-thread.topic-closed .forumimproved-edit-link,
.forumimproved-thread.topic-closed .forumimproved-delete-link,
.forumimproved-thread.topic-closed .forumimproved-prune-link,
.forumimproved-thread.topic-closed .forumimproved-form.forumimproved-edit button[type="submit"],
.forumimproved-thread.topic-closed .forumimproved-use-advanced {
    /* hide :
        * reply buttons
        * reply forms
        * edit link
        * delete link
        * split link
        * submit button in edits forms
        * the "use advenced editor" link
      but :
        * edit forms
    */
    display: none;
}

.forumimproved-thread.topic-hidden .forumimproved-form.forumimproved-edit,
.forumimproved-thread.topic-closed .forumimproved-form.forumimproved-edit {
    display: block;
}


.forumimproved-threads-wrapper .forumimproved-thread .btnToogleStateLine {
    margin-bottom: -2em;
    margin-top: 2.5em;
    clear: right;
    top: -2em;
    position: relative;
}





/* -------------------------
FUN WITH FORMS
-------------------------*/

.forumimproved-reply-wrapper {
    clear: both;
}


.forumimproved-form fieldset{
    margin:0 auto;
}

.forumimproved-form legend {
    margin:1em 0;
    font-size:1.25em;
}

.forumimproved-form label {
    display:block;
    margin-bottom:0.5em;
}


.forumimproved-form .forumimproved-textarea {
    cursor: text;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid #999;
    padding: 0.5em;
    font-size: 99%;
    min-height: 8em;
    overflow: auto;
    padding: 0.5em;
    resize: vertical;
    margin-bottom: 10px;
    background-color:white;
}


.forumimproved-form .hidden {
    display: none;
}

.forumimproved-form div[contenteditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: #999;
}


.forumimproved-form button {
    clear:both;
}

.forumimproved-use-advanced {
    clear:both;
    float:right;
}

.forumimproved-validation-errors.notifyproblem {
    text-align: left;
}
.path-mod-forumimproved .discussioncontrols {
    text-align:center;
    margin: 1em 0;
}






/*-------------------
   panel of voters
-------------------*/
.votersPanel {
    border: 1px solid rgb(223, 223, 223);
    background: rgb(223, 223, 223);
    margin: auto;
    position: relative;
    height: 300px;
    -js-display: flex;
    display: flex;
    align-content: stretch;
    flex-flow: column wrap;
}
.votersPanel .arrow {
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    display: block;
    border-color: transparent transparent rgb(223,223,223) transparent;
    position: absolute;
    top: -10px;
}
.votersPanel .closeBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    background: transparent;
    box-shadow: none;
}
.votersPanel .closeBtn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
}
.votersPanel h4 {
    flex-shrink: 0;
    border-bottom: grey solid 1px;
    padding: 8px;
    padding: .5rem;
    margin: 16px;
    margin: 1rem;
    margin-bottom: 0;
}
.votersPanel div {
    padding: 1em;
    overflow: auto;
    flex-grow: 1;
    height: 1px; /* to height force the height to be the rest of the parrent */
}
.votersPanel .userpicture {
    width: auto;
}
.votersPanel table {
    background: #F9F9F9;
    margin-bottom: 0;
}
.votersPanel thead {
    cursor: pointer;
}














    /* -------------------------  MEDIA Qs  -------------------------*/

    @media all and (min-width: 35em) {
        #page-mod-forumimproved-view .groupselector{
            text-align:right;
        }

        /* GRID ME UP */
        .forumimproved-thread-author{
            width:18%;
            margin-right:5.6%;
            float:left;
        }


        .forumimproved-thread-header,
        .forumimproved-thread-title{
            float:left;
            width:76.4%;
        }

        .forumimproved-thread-flags{
            float:right;
            width: auto;
            text-align:right;
        }

        .forumimproved-post-figure {
            float:left;
            width:15.73%;

        }
        form .forumimproved-post-body{
            float:left;
            width:84.27%;
        }
        form.forumimproved-form .forumimproved-post-body {
            margin-left: 0;
        }

        .depth0 .forumimproved-reply-wrapper{
            margin-left:15.73%;
        }
        .improvedform-post-date{
            float:right;
            line-height:3;
        }

        .forumimproved-post-byline{
            display:inline;
        }

        .forumimproved-postflagging{
            float:right;
        }

        /* increase form with */
        .forumimproved-form input[type=text],
        .forumimproved-form textarea {
            width:100%;
            min-height: 2em;
        }

        .forumimproved-add-discussion,
        .forumimproved-search {
            width:50%;
            display:inline-block;
            text-align:left;
        }
        .forumimproved-search {
            text-align:right;
        }
        /* search on discuss page only for single simple discussion */
        #page-mod-forumimproved-discuss .forumimproved-search {
            width: 100%;
        }
        #forumimproved-filter-options {
            text-align:right;
        }
        .forumimproved-discussion-sort {
            display:inline-block;
        }

        #menudsortdirection + input {
            display:inline;
        }
        .forumimproved-parent-post-link{
            float:left;
        }




        .forumimproved-post[data-depth] .forumimproved-post-wrapper{margin-left:32%;} /* max depth catch all */
        /* 5.24 */
        .forumimproved-post[data-depth="0"] .forumimproved-post-wrapper{margin-left:0%;}
        .forumimproved-post[data-depth="1"] .forumimproved-post-wrapper{margin-left:8%;}
        .forumimproved-post[data-depth="2"] .forumimproved-post-wrapper{margin-left:16%;}
        .forumimproved-post[data-depth="3"] .forumimproved-post-wrapper{margin-left:24%;}
        .forumimproved-post[data-depth="4"] .forumimproved-post-wrapper{margin-left:32%;}
        /* .forumimproved-post[data-depth="5"] .forumimproved-post-wrapper{margin-left:36.69%;} */
    }

    @media all and (min-width: 62em) {
        /* REALLY BIG SCREENS */
        #page-mod-forumimproved-view #region-main{
            padding:1em 2%;
        }
        #page-mod-forumimproved-view #region-main #discussionsview {
            max-width:60.5em;
            margin: auto;
        }

        .forumtype-single .forumimproved-thread-header,
        .forumtype-single .forumimproved-thread-title,
        .forumtype-single .forumimproved-thread-flags {
            display:block;
            width:100%;
            float:none;
        }
        .forumtype-single .forumimproved-thread-flags {
            text-align:left;
        }
        .forumtype-single .forumimproved-thread-participants {
            display:inline-block;
            margin-left:3%;
            min-width:80%;
        }
    }



    /* small screen */
    @media (max-width: 35em) {
        .forumimproved-thread-flags,
        .forumimproved-thread-replies-meta,
        .forumimproved-thread-figure,
        .improvedform-post-date,
        .forumimproved-postflagging {
            clear:both;
            display:block;
            width:100%;
            float:none;
        }

        .forumimproved-thread-flags{
            text-align:right;
        }

        .forumimproved-post-figure{
            float:left;
        }
        .forumimproved-post-figure .userpicture {
            max-width:50px;
        }
        .improvedform-post-date,
        .forumimproved-postflagging {
            text-align:right;
        }

        .forumimproved-thread{
            padding:1em 1.18%;
            margin:0 2.36%;
        }
        .forumimproved-post-byline{
            font-size:0.9em;
            line-height:1;
        }
    }


    /* end meida 45 */

    /* recent activity, recent posts output in non-Snap themes */

    .section .activity.modtype_forumimproved .activityinstance div {
        display:block; /* overwrite core shame */
    }

    .block_flexpagemod_forumimproved .forumimproved-recent-heading,
    .forumimproved.modtype_forumimproved .forumimproved-recent-heading,
    .section .activity.modtype_forumimproved .availabilityinfo {
        font-size:1em;
        clear:both;
    }
    .block_flexpagemod_forumimproved .snap-media-object,
    .forumimproved.modtype_forumimproved .snap-media-object,
    .block_recent_activity .snap-media-object {
        margin-bottom: 0.3em;
        font-size:small;
    }
    .block_flexpagemod_forumimproved .snap-media-object,
    .forumimproved.modtype_forumimproved .snap-media-object {
        width:50%;
        float:left;
        min-width: 200px;
    }

    .block_flexpagemod_forumimproved .snap-media-object > a,
.modtype_forumimproved .snap-media-object > a,
.block_recent_activity .snap-media-object > a {
    text-decoration: none;
}

.format-flexpage .block_flexpagemod_forumimproved .snap-media-object > a > img,
.block_flexpagemod_forumimproved .snap-media-object > img,
.modtype_forumimproved .snap-media-object > a > img,
.modtype_forumimproved .snap-media-object > img,
.block_recent_activity .snap-media-object > a > img,
.block_recent_activity .snap-media-object > img {
    float: left;
    display: block;
    margin-right: 2%;
    width: 50px;
    height: auto;
    vertical-align: baseline;
}

.block_flexpagemod_forumimproved .snap-media-body,
.activity.modtype_forumimproved .snap-media-body,
.block_recent_activity .snap-media-body {
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.block_flexpagemod_forumimproved .snap-media-body p,
.modtype_forumimproved .snap-media-body p,
.block_recent_activity .snap-media-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.format-flexpage .block_flexpagemod_forumimproved .snap-media-body  h3,
.block_flexpagemod_forumimproved .snap-media-body  h3 small,
.modtype_forumimproved .snap-media-body  h3,
.modtype_forumimproved .snap-media-body  h3 small,
.block_recent_activity .snap-media-body  h3,
.block_recent_activity .snap-media-body  h3 small {
    color: inherit;
    font-size: 1em;
    line-height:1;
    margin: 0;
}

.block_flexpagemod_forumimproved .snap-media-body  h3 small,
.modtype_forumimproved .snap-media-body  h3 small,
.block_recent_activity .snap-media-body  h3 small {
        opacity: 0.75;
}

.block_flexpagemod_forumimproved .snap-media-meta,
.modtype_forumimproved .snap-media-meta,
.block_recent_activity .snap-media-meta {
    display: block;
    font-size: small;
    opacity: 0.75;
}

.block_flexpagemod_forumimproved .snap-media-meta  time,
.modtype_forumimproved .snap-media-meta  time,
.block_recent_activity .snap-media-meta  time {
    margin-right: 1em;
}

.format-flexpage .block_flexpagemod_forumimproved .snap-media-object h3 {
    padding: 0;
}

.format-flexpage  .block_flexpagemod_forumimproved .activityinstance,
.modtype_forumimproved .activityinstance{
    display: block !important;
}

.modtype_forumimproved.activity:before,
.modtype_forumimproved.activity:after,
.format-flexpage  .block_flexpagemod_forumimproved li.activity:before,
.format-flexpage  .block_flexpagemod_forumimproved li.activity:after,
.activity.modtype_forumimproved .unread:before {
    content: "";
    display: table;
}

.modtype_forumimproved .no-overflow,
.modtype_forumimproved.activity:after,
.format-flexpage  .block_flexpagemod_forumimproved li.activity:after {
    clear: both;
}

.discussnavigation {
    width:auto;
}

.discussnavigation:after{
    content:'';
    clear:both;
    line-height:1px;
}

.discussnavigation .navigateprevious, .discussnavigation .navigatenext {
    width:50%;
}

.discussnavigation .navigateprevious div:first-child, .discussnavigation .navigatenext div:first-child{
    font-variant: small-caps;
}

.discussnavigation .navigateprevious {
    text-align:left;
    float:left;
}

.discussnavigation .navigatenext {
    text-align:right;
    float:right;
}

.forumimproved-threshold-blocked .forumimproved-post-figure,
.forumimproved-threshold-blocked .forumimproved-post-body {
    display: none;
}

.format-flexpage .block_flexpagemod_forumimproved li.activity:before,
.format-flexpage .block_flexpagemod_forumimproved li.activity:after,
.modtype_forumimproved.activity:before,
.modtype_forumimproved.activity:after,
.modtype_forumimproved.activity .unread:before {
    content: "";
    display: table;
    clear: both;
}
